html {
  border: 3px solid transparent;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0;
  padding-bottom: 0;
}

.container * {
  text-align: center;
}

#dropzone {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

#output {
  position: relative;
  z-index: 1000;
  margin: 1em auto 0 auto;
  padding-bottom: 2em;
  min-height: 500px;
}

#output svg {
  display: block;
  margin: 0 auto;
}

/* d3 */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: none;
}

/*
 * (C)Leanest CSS spinner ever
 * http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@keyframes spin {
  to { transform: rotate(1turn); }
}

.progress {
  position: relative;
  top: 2em;
  left: calc(50% - 2.5em);
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 3em; /* change font size to adjust size of spinner */
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
  box-shadow: none;
  background: inherit;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}


/*
 * d3-tip
 * https://github.com/Caged/d3-tip
*/

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  z-index: 1112;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
  z-index: 1112;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
  z-index: 1112;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
  z-index: 1112;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
  z-index: 1112;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
  z-index: 1112;
}