<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Jason Brazeal">

        <title>pcap view</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>
    <body>

    <div class="container">
      <div class="page-header">
        <h1>upload and visualize pcap file</h1>
      </div>
<!--         <form action="{{ url_for('ajax') }}" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit" value="upload">
        </form> -->
        <p class="lead">drop a pcap file anywhere on this page</p>
    </div>

    <footer class="footer">
      <div class="container">
      </div>
    </footer>

    <div id="dropzone"</div>

    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>